       <table>
                  <tr>
                        <!-- Raised button -->
                              <button class="mdl-button mdl-js-button mdl-button--raised" onclick="botaoChat();">
                                Bate papo
                              </button>
                  </tr>

                  <tr>
                        <!-- Raised button -->
                              <button class="mdl-button mdl-js-button mdl-button--raised">
                                Vendas & Compras
                              </button>
                  </tr>

                  <tr>
                        <!-- Raised button -->
                              <button class="mdl-button mdl-js-button mdl-button--raised">
                                Trocas
                              </button>
                  </tr>
            </table>

<div id="loading" style="z-index: 9999; position: absolute; left: 48%; top: 30%; display: none">
<!-- MDL Spinner Component -->
<div class="mdl-spinner mdl-js-spinner is-active" ></div>
</div>